<div class="page-wrapper">

    <div id="donation-box">

        <div class="notification text-center">
            <span class="text-bold">$167</span> still needed for this project
        </div>

        <div class="content-body">

            <div class="progress-bar"><span></span></div>

            <p>
                <span class="text-orange text-bold">Only 3 days</span> left to fund this project
            </p>

            <p>
                Join the <span class="text-bold">42</span> other donors who have already supported this project. Every
                dollar helps.
            </p>

            <div class="call-to-action">
                <div class="input-wrapper"><input value="50" /></div>
                <button>Give Now</button>
            </div>

            <p><a href="/why" class="link">Why give $50?</a></p>
        </div>


        <div class="footer">
            <button>Save for later</button>
            <button>Tell your friends</button>
        </div>

    </div>

</div>
